<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mohammed Zareef-Mustafa | Software Engineer</title>
    <link rel="stylesheet" href="/static/style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- SECTION 1: NAVBAR -->
    <nav>
      <div class="redirector">
        <a href="#skills">Skills</a>
        <span class="separator">|</span>
        <a href="#projects">Projects</a>
        <span class="separator">|</span>
        <a href="#contact">Contact</a>
      </div>

      <!-- Dropdown Menu -->
      <div class="dropdown-menu">
        <button id="dropdown-toggle">☰</button>
        <div class="dropdown-content">
          <a href="#skills">Skills</a>
          <a href="#projects">Projects</a>
          <a href="#contact">Contact</a>
        </div>
      </div>

      <div class="full-name">
        <a href="#">Mohammed <span class="no-break">Zareef-Mustafa</span></a>
      </div>

      <div class="socials">
        <a
          href="https://www.linkedin.com/in/mohammed-zareef-mustafa/"
          target="_blank"
        >
          <i class="fa-brands fa-linkedin"></i>
          <span>LinkedIn</span>
        </a>
        <a href="https://github.com/mzareefmustafa" target="_blank">
          <i class="fa-brands fa-github"></i>
          <span>GitHub</span>
        </a>
        <a href="mailto:mzareefmustafa@gmail.com" target="_blank">
          <i class="fa-solid fa-envelope"></i>
          <span>Email</span>
        </a>
      </div>
    </nav>

    <main>
      <!-- SECTION 2: HERO -->
      <section class="hero-section">
        <div class="socials">
          <a
            href="https://www.linkedin.com/in/mohammed-zareef-mustafa/"
            target="_blank"
          >
            <i class="fa-brands fa-linkedin"></i>
            <span>LinkedIn</span>
          </a>
          <a href="https://github.com/mzareefmustafa" target="_blank">
            <i class="fa-brands fa-github"></i>
            <span>GitHub</span>
          </a>
          <a href="mailto:mzareefmustafa@gmail.com" target="_blank">
            <i class="fa-solid fa-envelope"></i>
            <span>Email</span>
          </a>
        </div>
        <div class="text">
          <h2>Hi, I'm <span class="no-break">Mohammed 👋🏾</span></h2>
          <p>
            I’m a UC Berkeley graduate with a B.A. in Data Science and 7+ years
            of hands-on software engineering experience. From building VR/AR
            apps and Unity games to optimizing systems and tackling diverse
            challenges, I’ve developed innovative solutions across diverse
            projects.
          </p>
          <br />
          <p>
            With a deep passion for creating impactful software and solving
            complex problems, I thrive on continuous learning and collaboration
            with like-minded individuals.
          </p>
          <br />
          <p>Check out my work, connect, and feel free to reach out!</p>
        </div>
        <div class="headshot">
          <img
            src="/static/assets/MyPortrait2-copy.webp"
            alt="Headshot of Mohammed"
          />
        </div>
      </section>

      <!-- SECTION 3: SKILLS -->
      <section id="skills" class="skills-section">
        <h2 class="section-titles">Skills</h2>
        <div class="text">
          Here’s an overview of the technologies and concepts I’ve learned
          through building projects, tackling challenges, and hands-on
          experimentation.
        </div>
        <h3 class="skill-sections-title">Programming Languages</h3>
        <div class="skill-sets">
          <div class="skill">
            <img src="/static/assets/python-icon.png" alt="Python logo" />
            <span>Python</span>
          </div>
          <div class="skill">
            <img src="/static/assets/java-logo.png" alt="Java logo" />
            <span>Java</span>
          </div>
          <div class="skill">
            <img
              src="/static/assets/javascript-logo.png"
              alt="Javascript logo"
            />
            <span>Javascript</span>
          </div>
          <div class="skill">
            <img src="/static/assets/database-logo.png" alt="SQL logo" />
            <span>SQL</span>
          </div>
          <div class="skill">
            <img src="/static/assets/C-sharp-logo.png" alt="C# logo" />
            <span>C#</span>
          </div>
          <div class="skill">
            <img src="/static/assets/R-logo.png" alt="R logo" />
            <span>R</span>
          </div>
          <div class="skill">
            <img src="/static/assets/lambda-logo.png" alt="Scheme logo" />
            <span>Scheme</span>
          </div>
          <div class="skill">
            <img src="/static/assets/html-logo.png" alt="HTML logo" />
            <span>HTML</span>
          </div>
          <div class="skill">
            <img src="/static/assets/css-logo.png" alt="CSS logo" />
            <span>CSS</span>
          </div>
        </div>
        <h3 class="skill-sections-title">Frameworks and Tools</h3>
        <div class="skill-sets">
          <div class="skill">
            <!-- <img src="" alt="FLask logo" /> -->
            <span>Flask</span>
          </div>
          <div class="skill">
            <span>Django</span>
          </div>
          <div class="skill">
            <span>React</span>
          </div>
          <div class="skill">
            <span>REST APIs</span>
          </div>
          <div class="skill">
            <span>OAuth 2.0</span>
          </div>
          <div class="skill">
            <span>PyTorch</span>
          </div>
          <div class="skill">
            <span>NumPy</span>
          </div>
          <div class="skill">
            <span>Pandas</span>
          </div>
          <div class="skill">
            <span>Git</span>
          </div>
          <div class="skill">
            <span>Unit Testing</span>
          </div>
        </div>
        <h3 class="skill-sections-title">Development</h3>
        <div class="skill-sets">
          <div class="skill">
            <span>Full-Stack</span>
          </div>
          <div class="skill">
            <span>Backend</span>
          </div>
          <div class="skill">
            <span>Frontend</span>
          </div>
          <div class="skill">
            <span>APIs</span>
          </div>
          <div class="skill">
            <span>Databases</span>
          </div>
          <div class="skill">
            <span>Authentication</span>
          </div>
          <div class="skill">
            <span>Async</span>
          </div>
          <div class="skill">
            <span>OOP</span>
          </div>
          <div class="skill">
            <span>Version Control</span>
          </div>
        </div>
      </section>

      <!-- SECTION 4: PROJECTS -->
      <section id="projects" class="project-section">
        <h2 class="section-titles">Projects</h2>
        <div class="text">
          Here’s a look at some of the projects I’ve done, demonstrating my
          skills and experience in software development.
        </div>
        <div class="horizontal-scroll">
          <div class="project-box">
            <a
              href="https://github.com/mzareefmustafa/Personal-Portfolio"
              target="_blank"
            >
              <picture>
                <source
                  srcset="/static/assets/Personal-Portfolio.webp"
                  type="image/webp"
                />
                <img
                  src="/static/assets/Personal-Portfolio.webp"
                  alt="Personal Portfolio Image"
                />
              </picture>
              <h4>Personal Portfolio</h4>
              <h5><em>Python(Flask), JavaScript, HTML, CSS</em></h5>
              <p>
                A full-stack portfolio with Flask, HTML/CSS, Python, JavaScript,
                and OAuth 2.0.
              </p>
              <p class="side-note">[ This website ]</p>
            </a>
          </div>
          <div class="project-box">
            <a
              href="https://github.com/mzareefmustafa/Build-Your-Own-World"
              target="_blank"
            >
              <picture>
                <source
                  srcset="/static/assets/Build-Your-Own-World.webp"
                  type="image/webp"
                />
                <img
                  src="/static/assets/Build-Your-Own-World.webp"
                  alt="Build Your Own World Image"
                />
              </picture>
              <h4>Build Your Own World</h4>
              <h5><em>Java</em></h5>
              <p>
                A 2D procedurally generated game in Java with randomized worlds,
                save/load functionality, player movement, and OOP principles for
                modularity.
              </p>
            </a>
          </div>
          <div class="project-box">
            <a
              href="https://github.com/mzareefmustafa/Scheme-Interpreter"
              target="_blank"
            >
              <picture>
                <source
                  srcset="/static/assets/Scheme-Interpreter.webp"
                  type="image/webp"
                />
                <img
                  src="/static/assets/Scheme-Interpreter.webp"
                  alt="Scheme Interpreter Image"
                />
              </picture>
              <h4>Scheme Interpreter</h4>
              <h5><em>Python, Scheme</em></h5>
              <p>
                A Python-based Scheme interpreter with REPL, supporting parsing,
                evaluation, and execution of built-in/user-defined procedures,
              </p>
            </a>
          </div>
          <div class="project-box">
            <a
              href="https://github.com/mzareefmustafa/Sigmoid-and-Relu-Neural-Nets"
              target="_blank"
            >
              <picture>
                <source
                  srcset="/static/assets/Neural-Network-Analysis.webp"
                  type="image/webp"
                />
                <img
                  src="/static/assets/Neural-Network-Analysis.webp"
                  alt="Neural Network Image"
                />
              </picture>
              <h4>Neural Network Analysis</h4>
              <h5><em>Python</em></h5>
              <p>
                A Python neural network using NumPy, comparing ReLU and Sigmoid
                activations, evaluating hidden layers, and visualizing cost with
                Matplotlib.
              </p>
            </a>
          </div>
          <div class="project-box">
            <a
              href="https://github.com/mzareefmustafa/Speed-Typing-Software"
              target="_blank"
            >
              <picture>
                <source
                  srcset="/static/assets/Speed-Typing-Software.webp"
                  type="image/webp"
                />
                <img
                  src="/static/assets/Speed-Typing-Software.webp"
                  alt="Speed Typing Software Image"
                />
              </picture>
              <h4>Speed Typing Software</h4>
              <h5><em>Python</em></h5>
              <p>
                A Python-based typing test with speed tracking, auto-correct,
                and multiplayer mode.
              </p>
            </a>
          </div>
        </div>
      </section>

      <!-- SECTION 5: Contact -->
      <section id="contact" class="contact-section">
        <h2 class="section-titles">Contacts</h2>

        <div class="text">
          Feel free to reach out! Whether you have questions, want to
          collaborate, or just want to connect, I’d love to hear from you. I’ll
          be sure to get back to you as soon as I can!
        </div>

        <!-- Button to open modal -->
        <button id="open-modal">Click Here to Leave a Message</button>

        <!-- Email Verification Modal -->
        <div id="email-verification-modal" class="modal">
          <div class="modal-content">
            <!-- Use the same close-button class so it matches your contact modal -->
            <span class="close-verification close-button">&times;</span>

            <!-- Email Input Section -->
            <div id="email-input-section">
              <!-- <h3>Email Verification</h3> -->
              <form id="email-verification-form">
                <label for="verification-email">Email Verification</label>
                <input
                  type="email"
                  id="verification-email"
                  placeholder="Enter your email here"
                  required
                />
                <button type="button" id="send-verification-btn">
                  Verify Email
                  <img src="/static/assets/send-icon.png" alt="send logo" />
                </button>
              </form>
            </div>

            <!-- Verification Code Input Section -->
            <div id="code-input-section" style="display: none">
              <form id="code-verification-form">
                <label for="verification-code">Enter Verification Code</label>
                <input
                  type="text"
                  id="verification-code"
                  placeholder="Enter verification code here"
                  required
                />
                <button type="button" id="validate-code-btn">
                  Validate
                  <img src="/static/assets/send-icon.png" alt="send logo" />
                </button>
              </form>
            </div>
          </div>
        </div>

        <!-- Modal Structure -->
        <div id="contact-modal" class="modal">
          <div class="modal-content">
            <span class="close-button">&times;</span>
            <form id="contact-form">
              <label for="name">Name</label>
              <input
                placeholder="Enter Your Name Here"
                type="text"
                id="name"
                required
              />

              <label for="email">Email</label>
              <input
                placeholder="Enter Your Email Here"
                type="email"
                id="email"
                required
              />

              <label for="message">Message</label>
              <textarea
                placeholder="Enter Your Message Here"
                type="message"
                id="message"
                cols="30"
                rows="5"
                required
              ></textarea>

              <button type="submit">
                Send Message
                <img src="/static/assets/send-icon.png" alt="send logo" />
              </button>
            </form>
          </div>
        </div>
      </section>
    </main>
    <!-- SECTION 6:Footer -->
    <footer>
      <p>© 2025 Mohammed Zareef-Mustafa. All rights reserved.</p>
    </footer>
    <script src="/static/script.js"></script>
  </body>
</html>
